*.pyc
.DS_Store
refman.rst
OpenCV4Tegra/
*.user
.sw[a-z]
.*.swp
tags
*.vcproj
*.sln
*.dir
*.ncb
*.suo
/junk/*
/unix-install/*
/win-install/*
Debug
Release
CMakeCache.txt
CMakeFiles
/3rdparty/libtiff/tif_config.h
/3rdparty/openexr/IlmBaseConfig.h
/3rdparty/openexr/OpenEXRConfig.h
/3rdparty/zlib/zconf.h
/cvconfig.h
/modules/core/version_string.inc
/samples/c/UpgradeLog.XML
/samples/c/_UpgradeReport_Files/
/version_string.tmp
/opencv2/

#we may meet .cmake files in repo, so here it is...
/3rdparty/libjasper/cmake_install.cmake
/3rdparty/libjpeg/cmake_install.cmake
/3rdparty/libpng/cmake_install.cmake
/3rdparty/libtiff/cmake_install.cmake
/3rdparty/openexr/cmake_install.cmake
/3rdparty/zlib/cmake_install.cmake
/OpenCVConfig-version.cmake
/OpenCVConfig.cmake
/apps/cmake_install.cmake
/apps/haartraining/cmake_install.cmake
/apps/traincascade/cmake_install.cmake
/brief_match/cmake_install.cmake
/cmake_install.cmake
/cmake_uninstall.cmake
/data/cmake_install.cmake
/doc/cmake_install.cmake
/include/cmake_install.cmake
/matcher/cmake_install.cmake
/modules/androidcamera/.androidcamera/
/modules/calib3d/.calib3d/
/modules/calib3d/cmake_install.cmake
/modules/cmake_install.cmake
/modules/contrib/.contrib/
/modules/contrib/cmake_install.cmake
/modules/core/.core/
/modules/core/cmake_install.cmake
/modules/features2d/.features2d/
/modules/features2d/cmake_install.cmake
/modules/flann/.flann/
/modules/flann/cmake_install.cmake
/modules/gpu/.gpu/
/modules/gpu/cmake_install.cmake
/modules/highgui/.highgui/
/modules/highgui/cmake_install.cmake
/modules/imgproc/.imgproc/
/modules/imgproc/cmake_install.cmake
/modules/java/.java/
/modules/legacy/.legacy/
/modules/legacy/cmake_install.cmake
/modules/ml/.ml/
/modules/ml/cmake_install.cmake
/modules/nonfree/.nonfree/
/modules/nonfree/cmake_install.cmake
/modules/objdetect/.objdetect/
/modules/objdetect/cmake_install.cmake
/modules/ocl/.ocl/
/modules/photo/.photo/
/modules/photo/cmake_install.cmake
/modules/python/.python/
/modules/stitching/.stitching/
/modules/stitching/cmake_install.cmake
/modules/ts/.ts/
/modules/ts/cmake_install.cmake
/modules/video/.video/
/modules/video/cmake_install.cmake
/modules/videostab/.videostab/
/modules/videostab/cmake_install.cmake
/modules/world/.world/
/samples/c/cmake_install.cmake
/samples/cmake_install.cmake
/samples/cpp/cmake_install.cmake
/samples/gpu/cmake_install.cmake
/samples/ocl/cmake_install.cmake